@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-display: swap;

  src: local('Gilroy'), url('../fonts/Gilroy-Medium.woff2'),
    url('../fonts/Gilroy-Medium.woff');
}

@font-face {
  font-family: 'Gilroy-Bold';
  font-style: medium;
  font-weight: 700;

  src: local('Gilroy-Bold'), url('../fonts/Gilroy-Bold.woff2'),
    url('../fonts/Gilroy-Bold.woff');
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-family: 'Gilroy', 'Arial', sans-serif;
  font-size: 20px;
  line-height: 25px;
  height: 100%;
  color: #000000;
  scroll-behavior: smooth;
}

.page-body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.wrapper {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-header {
  background-image: linear-gradient(to right bottom, #4b68c5, #4b90c5);
  padding: 30px 0 100px 0;
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;
}

.main-nav__item-link {
  color: #ffffff;
}

.page-header__content {
  text-align: center;
}

.page-header__content-img {
  margin-bottom: 50px;
}

.page-header__content-text {
  font-size: 45px;
  color: #ffffff;
}

.title {
  position: relative;
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  font-size: 45px;
  line-height: 45px;
  background-image: linear-gradient(to right bottom, #4b68c5, #4b90c5);
  color: #ffffff;
  padding: 50px 30px 30px 30px;
  margin-bottom: 30px;
  width: min-content;
  text-transform: uppercase;
}

.title::before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 8px;
  bottom: 2px;
  left: 0;
  background-color: #ffffff;
}

.title::after {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 10px;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to right bottom, #4b68c5, #4b90c5);
}

.services {
  padding: 100px 0;
}

.services__list {
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px;
}

.services__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #4b9ec5;
  width: 196px;
  min-height: 150px;
  padding: 15px 30px;
}

.company {
  padding-bottom: 100px;
}

.company__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50px;
}

.company__content-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.company__content-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.company__content-item-img-container {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: 2px solid #4b68c5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company__content-item-title {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  margin-bottom: 10px;
}

.company__content-item-content-wrapper {
  max-width: 450px;
}

.rus-company {
  position: relative;
}

.rus-company .company__content {
  position: relative;
  top: -50px;
}

.en-company .title {
  white-space: nowrap;
}

.en-company .company__content-img {
  order: 1;
}

.en-company .company__content-list {
  order: 0;
}

.road-transport__content {
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.road-transport__content-transport-title {
  text-transform: uppercase;
  color: #4b68c5;
}

.road-transport__content-transport-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  column-gap: 50px;
  row-gap: 30px;
}

.road-transport__content-transport-item-title {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
}

.road-transport__content-info {
  align-self: stretch;
  background-color: #4b9ec5;
  padding: 30px 20px;
}

.road-transport__content-info-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.road-transport__content-info-item {
  position: relative;
  padding-left: 50px;
}

.road-transport__content-info-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #4b68c5;
  border-radius: 50%;
}

.road-transport__content-info-item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-color: #4b9ec5;
  border-radius: 50%;
}

.multimodal {
  padding: 100px 0;
}

.multimodal__text {
  margin-bottom: 30px;
  margin-left: 50px;
}

.multimodal__list {
  display: flex;
  align-items: stretch;
  gap: 30px;
  margin-bottom: 30px;
}

.multimodal__item {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #4b9ec5;
  row-gap: 10px;
}

.multimodal__item-img-container {
  display: flex;
  gap: 20px;
}

.multimodal__content-wrapper {
  position: relative;
  margin-left: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.multimodal__content-title {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 15px;
  width: 470px;
}

.multimodal__content-text {
  max-width: 850px;
  margin-bottom: 30px;
}

.multimodal__content-text strong {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
}

.multimodal__content-list {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 15px;
}

.multimodal__content-item {
  position: relative;
  padding-left: 30px;
}

.multimodal__content-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #4b68c5;
  border-radius: 50%;
}

.multimodal__content-countries {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  align-self: flex-start;
  max-width: 200px;
  background-color: #4b9ec5;
  padding: 30px 20px;
}

.multimodal__content-countries-heading {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  color: #4b68c5;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.multimodal__content-countries-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.multimodal__content-countries-item {
  position: relative;
  padding-left: 50px;
}

.multimodal__content-countries-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #4b68c5;
  border-radius: 50%;
}

.multimodal__content-countries-item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-color: #4b9ec5;
  border-radius: 50%;
}

.railway {
  margin-bottom: 100px;
}

.railway__content {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 50px;
}

.railway__content-description {
  background-color: #4b9ec5;
  padding: 30px 30px;
  max-width: 300px;
}

.railway__content-description-heading {
  text-transform: uppercase;
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  margin-bottom: 30px;
  font-size: 25px;
}

.railway__content-description-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.railway__content-description-item {
  position: relative;
  padding-left: 50px;
}

.railway__content-description-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background-color: #4b68c5;
  border-radius: 50%;
}

.railway__content-description-item::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background-color: #4b9ec5;
  border-radius: 50%;
}

.railway__content-kinds {
  padding: 30px 0;
}

.railway__content-kinds-heading {
  text-transform: uppercase;
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.railway__content-kinds-text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 30px;
}

.railway__content-kinds-list {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 30px;
}

.railway__content-kinds-item {
  max-width: 250px;
}

.railway__content-kinds-item-heading {
  text-transform: uppercase;
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  margin-bottom: 10px;
}

.avia {
  background-color: #4b9ec5;
  padding-bottom: 100px;
}

.avia .title::before {
  background-color: #4b9ec5;
}

.avia__heading-wrapper {
  position: relative;
  margin-left: 50px;
  padding-left: 150px;
  margin-bottom: 50px;
}

.avia__heading-wrapper::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background-image: url('../img/free-icon-airplane-7429434.png');
  background-size: 80px 80px;
}

.avia__heading {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.avia__text {
  margin-bottom: 30px;
}

.avia__list {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: space-between;
}

.avia__item {
  text-align: center;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avia__item-img-container {
  position: relative;
  z-index: 1;
  width: 120px;
  height: 120px;
  background-color: #4b68c5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 30px;
}

.avia__item-img-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  width: 117px;
  height: 117px;
  background-color: #ffffff;
  border-radius: 50%;
}

.cooperation {
  padding: 100px 0;
}

.cooperation__title {
  white-space: nowrap;
}

.cooperation__heading {
  margin-left: 30px;
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.cooperation__text {
  margin-left: 30px;
  max-width: 800px;
  margin-bottom: 30px;
}

.cooperation__list {
  position: relative;
  margin-left: 50px;
  padding-left: 150px;
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.cooperation__list::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4b68c5;
}

.cooperation__list::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 1.5px;
  transform: translateY(-50%);
  width: 97px;
  height: 97px;
  border-radius: 50%;
  background-color: #ffffff;
  background-image: url('../img/premium-icon-lawyer-2710085.png');
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.cooperation__item {
  background-color: #4b9ec5;
  padding: 15px;
  max-width: 500px;
}

.cooperation__item-heading {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  margin-bottom: 15px;
}

.cooperation__contacts {
  max-width: 600px;
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  margin-left: auto;
}

.cooperation__contacts-text {
  margin-bottom: 30px;
}

.cooperation__contacts-link {
  font-size: 50px;
  color: #4b68c5;
}

.page-footer {
  padding: 100px 0;
  background-color: #4b9ec5;
}

.page-footer__content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-bottom: 50px;
}

.page-footer__content-copyright {
  max-width: 600px;
  grid-column: 1 / 2;
}

.page-footer__content-text {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  font-size: 50px;
  color: #4b68c5;
}

.page-footer__contacts-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  gap: 30px;
  margin-bottom: 30px;
}

.page-footer__contacts-link {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #4b68c5;
}

.page-footer__contacts-address {
  font-family: 'Gilroy-Bold', 'Arial', sans-serif;
  font-size: 40px;
  line-height: 40px;
  color: #4b68c5;
  font-style: normal;
}

.page-footer__socials-list {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
}

.page-footer__socials-item {
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: #000000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-footer__socials-item-link {
  color: #ffffff;
}
